<html lang="zh">

<head>
    <meta charset="utf-8">
    <script src="static/js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <script src="static/js/bootstrap.js"></script>
    <title>CMD</title>
</head>

<body>
<div id="div_cmd" style="margin-left:10%;margin-right:11%;text-align:left;margin-top: 50px;">
    <h2>当前目标：</h2>
    <div id="log" style="border-style:solid; border-width:1px; border-color:#000;">
        <p style="color:red">程序监听： localhost:80.....OK</p>
    </div>
</div>
</body>

</html>